.head-banner {
    background-color: $beige;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;


    .head-banner-content {
        display: flex;
        align-items: center;
        height: 100%;

        .head-banner-content-text {
            width: 40%;
            margin-left: 9.58vw;
            position: relative;

            h1 {
                text-transform: capitalize;
                color: $more_dark_blue;
                margin-bottom: 4px;
                width: 200%;
            }

            h2 {
                text-transform: capitalize;
                color: $more_dark_blue;
                margin-bottom: 24px;
                width: 115%;
            }

            p {
                color: $more_dark_blue;
                margin-bottom: 34px;
            }

            .blue-button {
                font-family: $reg_font;
                border: 1.5px solid $dark_blue;

                &:hover {
                    border: 1.5px solid $orange;
                }
            }

            .transparent-button {
                margin-right: 20px;

                img {
                    vertical-align: middle;
                    margin-left: 11px;
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}

#head-banner-figure1 {
    position: absolute;
    top: 0;
    left: 0;
}

#head-banner-figure2 {
    position: absolute;
    top: -4px;
    left: -15px;
    z-index: -1;
}

#head-banner-figure3 {
    position: absolute;
    bottom: 0;
}

#head-banner-figure4 {
    position: absolute;
    top: 35vh;
    left: 57%;
}

#head-banner-figure5 {
    position: absolute;
    top: 34vh;
    left: 57%;
    z-index: -2;
}

#head-banner-figure6 {
    position: absolute;
    top: 25vh;
    left: 58.8%;
}

#head-banner-figure7 {
    position: absolute;
    bottom: 0;
    left: 49.9%;
}

#head-banner-figure8 {
    position: absolute;
    bottom: 0;
    left: 51%;
}


// .head-banner-content-image {
//     position: relative;
// }

#head-banner-image {
    position: absolute;
    bottom: 0;
}


.section-pets {
    position: relative;
    margin-top: 100vh;
}





@media screen and (max-width: 1200px) {
    .head-banner {

        height: 1000px;

        .head-banner-content {

            display: flex;
            flex-direction: column;

            .head-banner-content-text {
                width: 81.26vw;
                margin-left: 9.58vw;
                margin-right: 9.58vw;
                position: relative;
                margin-top: 150px;

                p {
                    width: 70%;
                }

            }


        }
    }

    
    #head-banner-image {
        right: -15%;
        min-width: 300px;
    }

    #head-banner-figure4 {
        position: absolute;
        top: 35vh;
        left: 77%;
    }
    
    #head-banner-figure5 {
        position: absolute;
        top: 34vh;
        left: 77%;
        z-index: -2;
    }
    
    #head-banner-figure6 {
        position: absolute;
        top: 25vh;
        left: 78.8%;
    }

    #head-banner-figure7 {
        position: absolute;
        bottom: 0;
        left: 28.5%;
    }
    
    #head-banner-figure8 {
        position: absolute;
        bottom: 0;
        left: 31%;
    }

    .head-banner-content-text {
        z-index: 10;
    }

    // .head-banner-content-image {

    //     bottom: 0;
    //     width: 100%;
    //     left: 0;
    //     height: 750px;
    // }

    
}


@media screen and (max-width: 800px) {
    .head-banner {

        height: 950px;
    }
}

@media screen and (max-width: 700px) {

    .head-banner {

        height: 900px;
    }
    // #head-banner-figure4 {
    //     position: absolute;
    //     top: 45vh;
    //     left: 87%;
    // }
    
    // #head-banner-figure5 {
    //     position: absolute;
    //     top: 44vh;
    //     left: 87%;
    //     z-index: -2;
    // }
    
    // #head-banner-figure6 {
    //     position: absolute;
    //     top: 35vh;
    //     left: 88.8%;
    // }
}

@media screen and (max-width: 650px) {
    .head-banner {

        height: 850px;
    }
}


@media screen and (max-width: 600px) {
    .head-banner {



        .head-banner-content {
            .head-banner-content-text {
                h1 {
                    width: 100%;
                }
                h2 {
                    width: 100%;
                }
                
            }

        }

    }

}


@media screen and (max-width: 500px) {
    .head-banner {

        height: 750px;

        .head-banner-content {
            .head-banner-content-text {
                p {
                    width: 100%;
                }
                
            }

        }
    }

        #head-banner-figure4 {
        position: absolute;
        top: 30vh;
        left: 87%;
    }
    
    #head-banner-figure5 {
        position: absolute;
        top: 29vh;
        left: 87%;
        z-index: -2;
    }
    
    #head-banner-figure6 {
        position: absolute;
        top: 20vh;
        left: 88.8%;
    }
}