@import 'variables.scss';

body {
    background-color: rgb(233, 233, 233);
}


.head-banner {
    background-color: $beige;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;


    .head-banner-content {
        display: flex;
        align-items: center;
        height: 100%;

        .head-banner-content-text {
            width: 40%;
            margin-left: 9.58vw;
            position: relative;

            h1 {
                text-transform: capitalize;
                color: $more_dark_blue;
                margin-bottom: 4px;
                width: 200%;
            }

            h2 {
                text-transform: capitalize;
                color: $more_dark_blue;
                margin-bottom: 24px;
                width: 115%;
            }

            p {
                color: $more_dark_blue;
                margin-bottom: 34px;
            }


            .transparent-button {
                margin-right: 20px;

                img {
                    vertical-align: middle;
                    margin-left: 11px;
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}

#head-banner-figure1 {
    position: absolute;
    top: 0;
    left: 0;
}

#head-banner-figure2 {
    position: absolute;
    top: -4px;
    left: -15px;
    z-index: -1;
}

#head-banner-figure3 {
    position: absolute;
    bottom: 0;
}

#head-banner-figure4 {
    position: absolute;
    top: 35vh;
    left: 57%;
}

#head-banner-figure5 {
    position: absolute;
    top: 34vh;
    left: 57%;
    z-index: -2;
}

#head-banner-figure6 {
    position: absolute;
    top: 25vh;
    left: 58.8%;
}

#head-banner-figure7 {
    position: absolute;
    bottom: 0;
    left: 49.9%;
}

#head-banner-figure8 {
    position: absolute;
    bottom: 0;
    left: 51%;
}

#head-banner-image {
    position: absolute;
    bottom: 0;
}


.section-pets {
    position: relative;
    margin-top: 100vh;
}


.pets-grid-4-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5vw;
    row-gap: 2.5vw;
}

.pet-single-product-card {
    background-color: $white;
    padding: 8px 8px 20px 8px;
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
    border-radius: 12px;

    .pet-single-product-card-image-container {
        width: 100%;
        overflow: hidden;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;

        img {
            width: 100%;
            transition: $_1s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .pet-single-product-card-text-container {
        padding: 0 8px;
    }

    .pet-name {
        font-family: $bold_font;
        font-size: 16px;
        line-height: 24px;
        color: $black;

        &:hover {
            color: $dark_blue;
        }
    }

    .pet-attributes {
        padding: 4px 0 10px 0;
        font-size: 12px;
        line-height: 18px;
        color: #667479;
    }

    .pet-price-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .take-button {
            background-color: $grey;
            color: $white;
            padding: 5px 10%;
            border-radius: 8px;;
            transition: $_1s;

            &:hover {
                background-color: $dark_blue;
            }
        }
    }
}


.section-pets-grid-4-2 {

    padding-top: 60px;
    padding-bottom: 60px;

    h3 {
        color: $dark_blue;
    }
}

.section-goods-grid-4-2 {

    @extend .section-pets-grid-4-2;
}


.middle-banner {
    border-radius: 20px;
    border: none;
    overflow: hidden; 

    .transparent-button {
        margin-right: 20px;

        img {
            vertical-align: middle;
            margin-left: 11px;
            width: 18px;
            height: 18px;
        }
    }
}


.middle-banner-content {

    position: relative;
    background-color: $dark_blue;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .middle-banner-content-image {

        
        z-index: 10;
        align-self: flex-end;
        padding-left: 20px;
        padding-top: 36px;
        width: 43.5%;
    }

    .middle-banner-content-text {
        z-index: 10;
        text-align: right;
        padding-right: 85px;
        padding-top: 64px;
        padding-bottom: 56px;
        width: 50%;

        .banner-p {
            padding-top: 8px;
            padding-bottom: 24px;
            text-align: right;
            width: 75%;
            padding-left: 25%;
        }
    }
}

#middle-banner-figure1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#middle-banner-figure2 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
}


.middle-banner-type2 {
    border-radius: 20px;
    border: none;
    overflow: hidden; 

    .transparent-button {
        margin-right: 20px;

        img {
            vertical-align: middle;
            margin-left: 11px;
            width: 18px;
            height: 18px;
        }
    }
}

.middle-banner-content-type2 {

    position: relative;
    background-color: $orange;
    border-radius: 22px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;


    .middle-banner-content-image {

        z-index: 10;
        align-self: stretch;
        padding-left: 20px;
        padding-right: 5%;
        width: 43.5%;

        img {
            height: 100%;
            max-width: none;
        }


        
    }

    .middle-banner-content-text {
        z-index: 10;
        text-align: left;
        // padding-right: 85px;
        padding-top: 64px;
        padding-bottom: 56px;
        width: 50%;
        padding-left: 7.2%;

        .banner-p {
            padding-top: 8px;
            padding-bottom: 24px;
            text-align: left;
            width: 75%;
        }
    }
    
}

#middle-banner-figure3 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
}

#middle-banner-figure4 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}


// @media screen and (max-width: 1200px) {
//     .head-banner {

//         height: 1000px;

//         .head-banner-content {

//             display: flex;
//             flex-direction: column;

//             .head-banner-content-text {
//                 width: 81.26vw;
//                 margin-left: 9.58vw;
//                 margin-right: 9.58vw;
//                 position: relative;
//                 margin-top: 150px;

//                 p {
//                     width: 70%;
//                 }

//             }


//         }
//     }


//     #head-banner-image {
//         right: -15%;
//         min-width: 300px;
//     }

//     #head-banner-figure4 {
//         position: absolute;
//         top: 35vh;
//         left: 77%;
//     }

//     #head-banner-figure5 {
//         position: absolute;
//         top: 34vh;
//         left: 77%;
//         z-index: -2;
//     }

//     #head-banner-figure6 {
//         position: absolute;
//         top: 25vh;
//         left: 78.8%;
//     }

//     #head-banner-figure7 {
//         position: absolute;
//         bottom: 0;
//         left: 28.5%;
//     }

//     #head-banner-figure8 {
//         position: absolute;
//         bottom: 0;
//         left: 31%;
//     }

//     .head-banner-content-text {
//         z-index: 10;
//     }

// }


// @media screen and (max-width: 800px) {
//     .head-banner {

//         height: 950px;
//     }
// }

// @media screen and (max-width: 700px) {

//     .head-banner {

//         height: 900px;
//     }

// }

// @media screen and (max-width: 650px) {
//     .head-banner {

//         height: 850px;
//     }
// }


// @media screen and (max-width: 600px) {
//     .head-banner {



//         .head-banner-content {
//             .head-banner-content-text {
//                 h1 {
//                     width: 100%;
//                 }

//                 h2 {
//                     width: 100%;
//                 }

//             }

//         }

//     }

// }


// @media screen and (max-width: 500px) {
//     .head-banner {

//         height: 750px;

//         .head-banner-content {
//             .head-banner-content-text {
//                 p {
//                     width: 100%;
//                 }

//             }

//         }
//     }

//     #head-banner-figure4 {
//         position: absolute;
//         top: 30vh;
//         left: 87%;
//     }

//     #head-banner-figure5 {
//         position: absolute;
//         top: 29vh;
//         left: 87%;
//         z-index: -2;
//     }

//     #head-banner-figure6 {
//         position: absolute;
//         top: 20vh;
//         left: 88.8%;
//     }
// }