header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 12px 0;
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: transparent;
  width: 100%;
  padding: 28px 9.58vw 12px 9.58vw;
  max-width: 81.26vw;
  transition: 1s; }
  header.colored {
    background-color: white; }
  header a {
    font-family: "SVN-Gilroy Bold";
    color: #003459;
    transition: 1s; }
    header a:hover {
      color: #FFB775; }
    header a img {
      transition: 1s; }
      header a img:hover {
        transform: scale(1.1); }
  header ul {
    display: flex;
    justify-content: space-between; }
    header ul li {
      padding: 0 20px; }
  header div {
    display: flex; }
  header i {
    color: #003459;
    transition: color 1s; }
    header i:hover {
      color: #FFB775; }

#searchform {
  padding: 12px 18px;
  background-color: white;
  border-radius: 46px;
  margin-right: 14px;
  border: 1px solid white;
  transition: 1s; }
  #searchform.bordered {
    border: 1px solid #003459; }
  #searchform input {
    font-size: 14px;
    border: none;
    background-color: white; }
  #searchform input:focus {
    border: none;
    outline: none; }
  #searchform input:active {
    border: none;
    outline: none; }
  #searchform input::placeholder {
    font-size: 14px; }
  #searchform #searchsubmit {
    transition: 1s;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-right: 4px; }
    #searchform #searchsubmit:hover {
      transform: scale(1.1); }

.footer-banner {
  background-color: #FCEED5;
  border-radius: 40px 40px 0px 0px;
  padding-top: 80px;
  padding-bottom: 50px; }

.footer-links {
  padding: 40px 0;
  border-bottom: 1px solid #667479;
  display: flex;
  justify-content: space-between; }

#menu-footer-menu {
  display: flex;
  gap: 25%; }
  #menu-footer-menu a {
    color: #00171F;
    font-size: 16px;
    line-height: 24px;
    font-family: "SVN-Gilroy Bold";
    transition: 1s; }
    #menu-footer-menu a:hover {
      color: #FFB775; }

.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  padding-top: 40px; }
  .footer-bottom-content img {
    transition: 1s; }
    .footer-bottom-content img:hover {
      transform: scale(1.1); }
  .footer-bottom-content p {
    font-size: 14px;
    line-height: 20px;
    color: #667479; }

.footer-form-container {
  padding: 32px;
  background-color: #003459;
  border-radius: 16px;
  display: flex;
  justify-content: space-between; }
  .footer-form-container h4 {
    color: white;
    text-transform: capitalize;
    width: 30%; }
  .footer-form-container form {
    width: 60%;
    padding: 12px;
    background-color: white;
    border-radius: 14px;
    display: flex; }
    .footer-form-container form input {
      border: 1px solid #99A2A5;
      padding: 14px 28px;
      border-radius: 8px;
      width: 100%; }
      .footer-form-container form input::placeholder {
        font-size: 14px;
        line-height: 20px;
        font-family: "SVN-Gilroy Light";
        color: #667479; }
    .footer-form-container form button {
      margin-left: 12px;
      width: max-content;
      min-width: 150px;
      background-color: #003459;
      border-radius: 8px;
      color: white;
      padding-left: 30px;
      padding-right: 30px;
      height: 100%;
      transition: 1s;
      border: none;
      cursor: pointer; }
      .footer-form-container form button:hover {
        background-color: #667479; }

.footer-links-social-medias {
  display: flex;
  gap: 40px; }
  .footer-links-social-medias a {
    color: #00171F;
    transition: 1s; }
    .footer-links-social-medias a:hover {
      color: #FFB775; }
  .footer-links-social-medias i {
    font-size: 24px; }

body {
  background-color: #e9e9e9; }

.head-banner {
  background-color: #FCEED5;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2; }
  .head-banner .head-banner-content {
    display: flex;
    align-items: center;
    height: 100%; }
    .head-banner .head-banner-content .head-banner-content-text {
      width: 40%;
      margin-left: 9.58vw;
      position: relative; }
      .head-banner .head-banner-content .head-banner-content-text h1 {
        text-transform: capitalize;
        color: #002A48;
        margin-bottom: 4px;
        width: 200%; }
      .head-banner .head-banner-content .head-banner-content-text h2 {
        text-transform: capitalize;
        color: #002A48;
        margin-bottom: 24px;
        width: 115%; }
      .head-banner .head-banner-content .head-banner-content-text p {
        color: #002A48;
        margin-bottom: 34px; }
      .head-banner .head-banner-content .head-banner-content-text .transparent-button, .head-banner .head-banner-content .head-banner-content-text .transparent-button2, .head-banner .head-banner-content .head-banner-content-text .transparent-button3 {
        margin-right: 20px; }
        .head-banner .head-banner-content .head-banner-content-text .transparent-button img, .head-banner .head-banner-content .head-banner-content-text .transparent-button2 img, .head-banner .head-banner-content .head-banner-content-text .transparent-button3 img {
          vertical-align: middle;
          margin-left: 11px;
          width: 18px;
          height: 18px; }

#head-banner-figure1 {
  position: absolute;
  top: 0;
  left: 0; }

#head-banner-figure2 {
  position: absolute;
  top: -4px;
  left: -15px;
  z-index: -1; }

#head-banner-figure3 {
  position: absolute;
  bottom: 0; }

#head-banner-figure4 {
  position: absolute;
  top: 35vh;
  left: 57%; }

#head-banner-figure5 {
  position: absolute;
  top: 34vh;
  left: 57%;
  z-index: -2; }

#head-banner-figure6 {
  position: absolute;
  top: 25vh;
  left: 58.8%; }

#head-banner-figure7 {
  position: absolute;
  bottom: 0;
  left: 49.9%; }

#head-banner-figure8 {
  position: absolute;
  bottom: 0;
  left: 51%; }

#head-banner-image {
  position: absolute;
  bottom: 0; }

.section-pets {
  position: relative;
  margin-top: 100vh; }

.pets-grid-4-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.5vw;
  row-gap: 2.5vw; }

.pet-single-product-card {
  background-color: white;
  padding: 8px 8px 20px 8px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px; }
  .pet-single-product-card .pet-single-product-card-image-container {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px; }
    .pet-single-product-card .pet-single-product-card-image-container img {
      width: 100%;
      transition: 1s; }
      .pet-single-product-card .pet-single-product-card-image-container img:hover {
        transform: scale(1.1); }
  .pet-single-product-card .pet-single-product-card-text-container {
    padding: 0 8px; }
  .pet-single-product-card .pet-name {
    font-family: "SVN-Gilroy Bold";
    font-size: 16px;
    line-height: 24px;
    color: #00171F; }
    .pet-single-product-card .pet-name:hover {
      color: #003459; }
  .pet-single-product-card .pet-attributes {
    padding: 4px 0 10px 0;
    font-size: 12px;
    line-height: 18px;
    color: #667479; }
  .pet-single-product-card .pet-price-container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .pet-single-product-card .pet-price-container .take-button {
      background-color: #667479;
      color: white;
      padding: 5px 10%;
      border-radius: 8px;
      transition: 1s; }
      .pet-single-product-card .pet-price-container .take-button:hover {
        background-color: #003459; }

.section-pets-grid-4-2, .section-goods-grid-4-2 {
  padding-top: 60px;
  padding-bottom: 60px; }
  .section-pets-grid-4-2 h3, .section-goods-grid-4-2 h3 {
    color: #003459; }

.middle-banner {
  border-radius: 20px;
  border: none;
  overflow: hidden; }
  .middle-banner .transparent-button, .middle-banner .transparent-button2, .middle-banner .transparent-button3 {
    margin-right: 20px; }
    .middle-banner .transparent-button img, .middle-banner .transparent-button2 img, .middle-banner .transparent-button3 img {
      vertical-align: middle;
      margin-left: 11px;
      width: 18px;
      height: 18px; }

.middle-banner-content {
  position: relative;
  background-color: #003459;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .middle-banner-content .middle-banner-content-image {
    z-index: 10;
    align-self: flex-end;
    padding-left: 20px;
    padding-top: 36px;
    width: 43.5%; }
  .middle-banner-content .middle-banner-content-text {
    z-index: 10;
    text-align: right;
    padding-right: 85px;
    padding-top: 64px;
    padding-bottom: 56px;
    width: 50%; }
    .middle-banner-content .middle-banner-content-text .banner-p {
      padding-top: 8px;
      padding-bottom: 24px;
      text-align: right;
      width: 75%;
      padding-left: 25%; }

#middle-banner-figure1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1; }

#middle-banner-figure2 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100%; }

.middle-banner-type2 {
  border-radius: 20px;
  border: none;
  overflow: hidden; }
  .middle-banner-type2 .transparent-button, .middle-banner-type2 .transparent-button2, .middle-banner-type2 .transparent-button3 {
    margin-right: 20px; }
    .middle-banner-type2 .transparent-button img, .middle-banner-type2 .transparent-button2 img, .middle-banner-type2 .transparent-button3 img {
      vertical-align: middle;
      margin-left: 11px;
      width: 18px;
      height: 18px; }

.middle-banner-content-type2 {
  position: relative;
  background-color: #FFB775;
  border-radius: 22px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center; }
  .middle-banner-content-type2 .middle-banner-content-image {
    z-index: 10;
    align-self: stretch;
    padding-left: 20px;
    padding-right: 5%;
    width: 43.5%; }
    .middle-banner-content-type2 .middle-banner-content-image img {
      height: 100%;
      max-width: none; }
  .middle-banner-content-type2 .middle-banner-content-text {
    z-index: 10;
    text-align: left;
    padding-top: 64px;
    padding-bottom: 56px;
    width: 50%;
    padding-left: 7.2%; }
    .middle-banner-content-type2 .middle-banner-content-text .banner-p {
      padding-top: 8px;
      padding-bottom: 24px;
      text-align: left;
      width: 75%; }

#middle-banner-figure3 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 100%; }

#middle-banner-figure4 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1; }

.blog-post {
  padding: 8px 8px 16px;
  background-color: white;
  border-radius: 12px; }
  .blog-post img {
    width: 100%;
    border-radius: 12px; }
  .blog-post .blog-post-tags-container {
    padding: 13px 8px 10px;
    display: flex;
    gap: 5px; }
    .blog-post .blog-post-tags-container .tag-name {
      padding: 2px 10px;
      color: white;
      background-color: #00A7E7;
      border-radius: 28px;
      font-size: 10px;
      line-height: 16px;
      font-family: "SVN-Gilroy Bold"; }
  .blog-post .blog-post-text-container {
    padding: 0 8px; }
  .blog-post .post-title {
    font-size: 16px;
    line-height: 24px;
    color: #00171F;
    font-family: "SVN-Gilroy Bold"; }
    .blog-post .post-title:hover {
      color: #667479; }
  .blog-post .post-excerpt {
    padding-top: 6px; }

.shop-top-banner {
  margin-top: 110px; }
  .shop-top-banner .breadcrumb {
    font-family: "SVN-Gilroy Light";
    font-size: 14px;
    line-height: 20px;
    color: #667479;
    padding-bottom: 11px; }
    .shop-top-banner .breadcrumb img {
      padding: 0 16px; }
    .shop-top-banner .breadcrumb a {
      color: #667479; }

.shop-top-banner-content {
  background-color: #FCEED5;
  display: flex;
  position: relative;
  padding-top: 64px;
  padding-right: 85px;
  border-radius: 20px;
  overflow: hidden; }
  .shop-top-banner-content p {
    color: white;
    text-align: right; }
  .shop-top-banner-content .shop-top-banner-content-text {
    position: relative;
    z-index: 10; }
    .shop-top-banner-content .shop-top-banner-content-text .banner-title2 {
      padding-top: 2px;
      padding-bottom: 6px; }
    .shop-top-banner-content .shop-top-banner-content-text .banner-p {
      margin-left: 15%;
      width: 85%;
      color: #CCD1D2;
      font-size: 12px;
      line-height: 18px;
      padding-bottom: 24px; }
    .shop-top-banner-content .shop-top-banner-content-text div {
      text-align: right; }

#shop-top-banner-figure1 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: 100%; }

.shop-top-banner-image {
  position: relative;
  z-index: 5;
  margin-left: 51px;
  width: 55%;
  margin-bottom: -1px; }

.shop-top-banner-buttons-container {
  display: flex;
  justify-content: right;
  gap: 20px; }

.products {
  width: 75%; }

.pets-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5vw;
  row-gap: 2.5vw;
  width: 100%; }

.shop-filter {
  width: 25%;
  margin-bottom: 60px; }

.shop-products-layout {
  display: flex;
  gap: 20px; }

.pet-single-product-card {
  position: relative;
  z-index: 5;
  height: fit-content; }

.fa.fa-minus.wpfTitleToggle {
  display: none; }

.wpfFilterTitle {
  font-size: 16px;
  line-height: 24px;
  font-family: "SVN-Gilroy Bold";
  color: #00171F; }

#wpfBlock_1 {
  margin-top: 0;
  padding-top: 0; }

.wpfFilterTaxNameWrapper {
  font-size: 14px;
  line-height: 20px;
  font-family: "SVN-Gilroy Light";
  color: #00171F; }

.wpfCheckbox input {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 1px solid #CCD1D2;
  border-radius: 4px; }

.shop-products-layout-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px; }
  .shop-products-layout-head .woocommerce-ordering select {
    font-family: "SVN-Gilroy Light";
    font-size: 14px;
    line-height: 20px;
    color: #667479;
    padding: 8px 12px;
    border: 2px solid lightgray;
    border-radius: 16px; }
    .shop-products-layout-head .woocommerce-ordering select::after {
      width: 10px;
      content: ''; }
  .shop-products-layout-head .shop-products-layout-head-sorting {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .shop-products-layout-head .shop-products-layout-head-sorting .woocommerce-result-count {
      display: block;
      width: fit-content;
      order: -1; }

.filter-breed-title {
  font-size: 24px;
  line-height: 36px;
  font-family: "SVN-Gilroy Bold";
  color: #003459;
  margin-right: 14px;
  text-transform: capitalize; }

.shop-products-layout-head-title-filter {
  font-size: 24px;
  line-height: 36px;
  font-family: "SVN-Gilroy Bold";
  color: #003459;
  width: calc(25% + 20px); }

.filter-title-count {
  font-size: 14px;
  line-height: 20px;
  font-family: "SVN-Gilroy Light";
  color: #667479; }

.woocommerce-ordering {
  text-align: right;
  vertical-align: top; }

.woocommerce-pagination.berocket_pagination {
  padding-left: 26% !important; }
  .woocommerce-pagination.berocket_pagination .page-numbers {
    font-size: 18px;
    line-height: 24px;
    font-family: "SVN-Gilroy Bold";
    display: inline-block;
    padding: 6px 13px !important; }
  .woocommerce-pagination.berocket_pagination .next a, .woocommerce-pagination.berocket_pagination .prev a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 9px !important; }
  .woocommerce-pagination.berocket_pagination .fa {
    font-size: 15px; }

body {
  font-family: "SVN-Gilroy Light"; }

.container {
  padding: 0 9.58vw;
  max-width: 81.26vw; }

.pointer {
  cursor: pointer; }

a {
  text-decoration: none; }

h1 {
  font-family: "SVN-Gilroy Bold";
  font-size: 60px;
  line-height: 68px; }

h2 {
  font-family: "SVN-Gilroy Bold";
  font-size: 46px;
  line-height: 60px; }

h3 {
  font-family: "SVN-Gilroy Bold";
  font-size: 24px;
  line-height: 36px; }

h4 {
  font-family: "SVN-Gilroy Bold";
  font-size: 24px;
  line-height: 36px; }

p {
  font-family: "SVN-Gilroy Light";
  font-size: 16px;
  line-height: 24px; }

.title-p {
  font-size: 16px;
  line-height: 24px;
  color: black; }

.bold {
  font-family: "SVN-Gilroy Bold"; }

.regular {
  font-family: "SVN-Gilroy Light"; }

.lovercase-text {
  text-transform: lowercase; }

.block-header {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 28px;
  color: #003459; }

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; }

.blue-button, .blue-button2 {
  padding: 10px 28px;
  background: #003459;
  border-radius: 57px;
  font-size: 16px;
  color: #FDFDFD;
  font-family: "SVN-Gilroy Bold";
  border: 1.5px solid #003459;
  border: none;
  transition: 1s; }
  .blue-button:hover, .blue-button2:hover {
    background-color: #FFB775; }
  .blue-button:active, .blue-button2:active {
    color: #FDFDFD;
    background-color: #003459; }

.blue-button2 {
  font-family: "SVN-Gilroy Light";
  border: 1.5px solid transparent; }
  .blue-button2:hover {
    background-color: lightgray;
    color: #003459;
    border: 1.5px solid #003459; }
  .blue-button2:active {
    color: #FDFDFD;
    background-color: #003459; }

.white-button {
  padding: 10px 28px;
  background: white;
  border-radius: 57px;
  font-size: 16px;
  color: #00171F;
  font-family: "SVN-Gilroy Light";
  border: 1.5px solid white;
  transition: 1s; }
  .white-button:hover {
    background-color: #FFB775;
    border: 1.5px solid #FFB775; }
  .white-button:active {
    background-color: white;
    border: 1.5px solid white; }

.transparent-button, .transparent-button2, .transparent-button3 {
  padding: 10px 28px;
  border-radius: 57px;
  background-color: transparent;
  font-size: 16px;
  color: #003459;
  font-family: "SVN-Gilroy Light";
  border: 1.5px solid #003459;
  transition: 1s; }
  .transparent-button:hover, .transparent-button2:hover, .transparent-button3:hover {
    background-color: #FFB775;
    border: 1.5px solid #FFB775; }
  .transparent-button:active, .transparent-button2:active, .transparent-button3:active {
    background-color: transparent;
    border: 1.5px solid #003459; }

.transparent-button2:hover {
  background-color: lightgray;
  border: 1.5px solid #003459; }
.transparent-button2:active {
  background-color: transparent; }

.transparent-button3 {
  color: white;
  border-color: white; }
  .transparent-button3 img {
    vertical-align: middle;
    padding-left: 8px;
    padding-bottom: 2px; }
  .transparent-button3:hover {
    background-color: #667479;
    border: 1.5px solid #003459; }
  .transparent-button3:active {
    background-color: transparent; }

.button-with-icon {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.padding-left-5 {
  padding-left: 5px; }

.padding-left-10 {
  padding-left: 10px; }

.padding-right-10 {
  padding-right: 10px; }

.padding-rigt-30 {
  padding-right: 30px; }

.margin-bottom-35 {
  margin-bottom: 35px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.margin-bottom-60 {
  margin-bottom: 60px; }

.banner-title1 {
  font-family: "SVN-Gilroy Bold";
  font-size: 52px;
  line-height: 68px;
  color: #003459; }

.banner-title2 {
  font-family: "SVN-Gilroy Bold";
  font-size: 36px;
  line-height: 54px;
  color: #003459; }

.gift-banner {
  margin-top: 10px;
  background-color: #FCEED5;
  border-radius: 8px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-family: "SVN-Gilroy Bold";
  color: #002A48; }

.inline-text {
  display: flex;
  align-items: baseline; }

.flex-list {
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media screen and (max-width: 700px) {
  h1 {
    font-size: 46px;
    line-height: 60px; }

  h2 {
    font-size: 28px;
    line-height: 38px; }

  p {
    font-size: 12px;
    line-height: 18px; } }

/*# sourceMappingURL=general.css.map */
