.shop-top-banner {
    margin-top: 110px;
    

    .breadcrumb {
        font-family: $reg_font;
        font-size: 14px;
        line-height: 20px;
        color: $grey;
        padding-bottom: 11px;

        img {
            padding: 0 16px;
        }

        a {
            color: $grey;
        }


    }
}

.shop-top-banner-content {
    background-color: $beige;
    display: flex;
    position: relative;
    padding-top: 64px;
    padding-right: 85px;
    border-radius: 20px;
    overflow: hidden;
    
    p {
        color: $white;
        text-align: right;
    }

    .shop-top-banner-content-text {
        position: relative;
        z-index: 10;

        .banner-title2 {
            padding-top: 2px;
            padding-bottom: 6px;
        }

        .banner-p {
            margin-left: 15%;
            width: 85%;
            color: #CCD1D2;
            font-size: 12px;
            line-height: 18px;
            padding-bottom: 24px;
        }

        div {
            text-align: right;
        }
    }
}

#shop-top-banner-figure1 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: 100%;
}

.shop-top-banner-image {
    position: relative;
    z-index: 5;
    margin-left: 51px;
    width: 55%;
    margin-bottom: -1px;
}

.shop-top-banner-buttons-container {
    display: flex;
    justify-content: right;
    gap: 20px;
}


.pets-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5vw;
    row-gap: 2.5vw;
    width: 75%;
}

.shop-filter {
    width: 25%;
}

.shop-products-layout {
    display: flex;
    gap: 20px;
}

.pet-single-product-card {
    position: relative;
    z-index: 5;
    height: fit-content;
}

.fa.fa-minus.wpfTitleToggle {
    display: none;
}

.wpfFilterTitle {
    font-size: 16px;
    line-height: 24px;
    font-family: $bold_font;
    color: $black;
}

#wpfBlock_1 {
    margin-top: 0;
    padding-top: 0;
}

.wpfFilterTaxNameWrapper {
    font-size: 14px;
    line-height: 20px;
    font-family: $reg_font;
    color: $black;
}

.wpfCheckbox input {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #CCD1D2;
    border-radius: 4px;
}

.shop-products-layout-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;

    .woocommerce-ordering {
        
        select {
            font-family: $reg_font;
            font-size: 14px;
            line-height: 20px;
            color: $grey;
            padding: 8px 12px;
            border: 2px solid $light_gray;
            border-radius: 16px;
            
            &::after {
                width: 10px;
                content: '';
            }
        }
    }

    .shop-products-layout-head-title-filter {
        width: calc(25% + 20px);
    }

    .shop-products-layout-head-sorting {
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .woocommerce-result-count{
            display: block;
            width: fit-content;
            order: -1;
        }
        
    }


}


.woocommerce-ordering {
    text-align: right;
    vertical-align: top;
}

.woocommerce-pagination.berocket_pagination {

    .page-numbers {
        font-size: 18px;
        line-height: 24px;
        font-family: $bold_font;
        display: inline-block;
        padding: 6px 13px !important;
    }

    .next a,  .prev a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 9px !important;

    }
    .fa {
        font-size: 15px;
    }
}