

// Colors
$reg_font: 'SVN-Gilroy Light';
$bold_font: 'SVN-Gilroy Bold';
$white: white;
$dark_white: #FDFDFD;
$dark_blue: #003459;
$black: #00171F;
$origin_black: black;
$light_gray: lightgray;
$more_dark_blue: #002A48;
$beige: #FCEED5;
$orange: #FFB775;
$grey: #667479;


// Dynamics
$scale_1_1: scale(1.1);
$_1s: 1s;
